.notes-list {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    align-self: flex-start;
    flex: 0 1 31%;

    @media (max-width: 992px) {
      flex: 50%;
    }

    @media (max-width: 768px) {
      flex: 100%;
    }

  }
}